.rowImage {
    display: flex;
    width: 150px;
}

.actions {
    display: flex;
}

.addItem{
    background-color: #f5f8fa;
}

ul {
    margin: 14px;
    padding-left: 10px;
}

.actionLinks {
    background: transparent;
    text-decoration: none;
    border: none;
    cursor: pointer;
    margin: 0px 5px;
    transition: 1s;
    color: black;
}

.actionButtons:hover{
    transform: scale(1.1);
}


table h3 {
    width: 120px;
}

table h4 {
    width: 120px;
}